.button--subtle {
  background: transparent;
  border: solid 1px var(--color-border);
}

.button--subtle:hover {
  background-color: var(--color-border);
}

.button--small {
  height: 3rem;
  padding: 0 var(--spacing-small);
  font-size: 1.2rem;
}

.button--x-small {
  height: 2.4rem;
  padding: 0 var(--spacing-x-small);
  font-size: 1.1rem;
  border-radius: var(--radius-small);
}