.u-user-select-none {
  user-select: none !important;
}

.u-mt-none {
  margin-top: 0 !important;
}

.u-mb-none {
  margin-bottom: 0 !important;
}

.u-mt-x-small {
  margin-top: var(--spacing-x-small) !important;
}

.u-mb-x-small {
  margin-bottom: var(--spacing-x-small) !important;
}

.u-mt-large {
  margin-top: var(--spacing-large) !important;
}

.u-mb-large {
  margin-bottom: var(--spacing-large) !important;
}

.u-mt-x-large {
  margin-top: var(--spacing-x-large) !important;
}

.u-mb-x-large {
  margin-bottom: var(--spacing-x-large) !important;
}