button {
  appearance: none;
  border: none;
  font-weight: 600;
  background-color: rgba(var(--rgb-accent), 0.3);
  transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 4rem;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 0.9rem;
}

button:hover {
  background-color: rgba(var(--rgb-accent), 0.2);
}

button:hover, button:focus, button:active {
  outline: none;
}